.info {
    align-self: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-inline: 8px;
}

img {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
    align-items: center;
    margin-top: 20%;
}
@media only screen and (max-width: 900px) {

img{
    margin-top: 45%;
    width: 50%;
}
}

body {
    background-color: #040F0F;
}

div {
    display: relative !important;
}